<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>AccountStatus</title>
</head>
<body>
    {% if num %}
    <h3>Account Opened Successfully!</h3>
    <br>
    <h3>Your Account Number is: {{num}}</h3>
    {% else %}
    <h3>Customer ID does not exist!</h3>
    {% endif %}

    <form action="/Login" class="form">
        <input type="submit" value="Login Page">
    </form>


    
</body>
</html>