<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>
<body>
    <h2 style="color: teal; text-align: center;">Create Account!</h2>
    <h1><a href="home">Home</a></h1>
    <form action="/home" method="post">
        <label for="Name">Name: </label>
        <input type="text" name = "name">
        <br>
        <label for="Date of Birth">Date of Birth: </label>
        <input type="text" name = "DOB" value="DD-MM-YYYY">
        <input type="submit" value="Submit">

    </form>
</body>
</html>