<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Home</title>
</head>

<body>
    <section id="home-page">

        <div class=" box ">
            {% if cust_id %}
            <h2>Your Customer ID is {{cust_id}}</h2>
            {% endif %}
            <h3>Please Select a following</h3>
            <ul>
                <li>
                    <a href="/Login ">
                        <img src="assets_bank/login_avatar.jpg " alt="Login ">
                        <p><span>click here<br></span>If you have an account</p>
                    </a>
                </li>
                <li>
                    <a href="/AddCustomer ">
                        <img src="assets_bank/add_cutomer.jpg " alt="Add Customer ">
                        <p><span>click here<br></span> you want to become a customer</p>
                    </a>
                </li>
                <li>
                    <a href="/OpenAccount ">
                        <img src="assets_bank/open_account.png " alt="Open Account ">
                        <p><span>click here<br></span>If you want to open an account</p>
                    </a>
                </li>
            </ul>

        </div>
    </section>
</body>

</html>