<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Login</title>
</head>

<body>
    <section id="login-page">
        <h2>Login</h2>

        <form class="grid" action="/BankBasedOptions" method="post">
            <label for="Account Number">Account Number: </label>
            <input type="text" name="acc_no">
            <br>
            <label for="Password">Password: </label>
            <input type="password" name="password">
            <input type="submit" value="Login">

        </form>
        <h1><a href="home"> click here to Go Home</a></h1>
    </section>
</body>

</html>