<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Status</title>
</head>
<body>

    {% if val!="All Correct" %}
    <h3>{{val}}!</h3>

    

    {% else %}
    <h3>{{amt}} Rs. Successfully Transferred to Account number {{payee}}</h3>
    <h3>Please Check Your Statements for more Details</h3>

    {% endif %}

    <form action="BankBasedOptions">
        <input type="submit" value="Banking Options">
    </form>

</body>
</html>