<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Statements</title>
</head>
<body>
    <h3>Statements</h3>
    <table>
        <tr>
            <th>Account Number</th>
            <th>Date</th>
            <th>Time</th>
            <th>Amount</th>
        </tr>
        {% for ele in arr %}
        <tr>
            {% for i in ele %}
            <th>{{i}}</th>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    
    <br>
    
    <form action="BankBasedOptions">
        <input type="submit" value="Banking Options">
    </form>

</body>
</html>